<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 可以通过ServletContext获取的参数 -->
  <context-param>
  	<param-name>size</param-name>
  	<param-value>20</param-value>
  </context-param>
  
  
  <servlet>
  	<servlet-name>TimeServlet</servlet-name>
  	<servlet-class>com.situ.web.servlet.TimeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>TimeServlet</servlet-name>
  	<!-- 网名，需要以/开头 -->
  	<url-pattern>/time</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  	<servlet-name>FindStudentServlet</servlet-name>
  	<servlet-class>com.situ.web.servlet.FindtudentServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>FindStudentServlet</servlet-name>
  	<!-- 网名，需要以/开头 -->
  	<url-pattern>/findStudent</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  	<servlet-name>AddStudentServlet</servlet-name>
  	<servlet-class>com.situ.web.servlet.AddStudentServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AddStudentServlet</servlet-name>
  	<!-- 网名，需要以/开头 -->
  	<url-pattern>/addStudent</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>TestServlet</servlet-name>
  	<servlet-class>com.situ.web.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LifeServlet</servlet-name>
    <servlet-class>com.situ.day33.LifeServlet</servlet-class>
    <!-- 启动Tomcat愧疚加载这个Servlet，中间的数字是加载的顺序，即优先级 -->
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PathServlet</servlet-name>
    <servlet-class>com.situ.day33.PathServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentMainServlet</servlet-name>
    <servlet-class>com.situ.student.controller.StudentMainServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ThreadServlet</servlet-name>
    <servlet-class>com.situ.day33.ThreadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginMaxOnlicServlet</servlet-name>
    <servlet-class>com.situ.day33.LoginMaxOnlicServlet</servlet-class>
    <!-- 给此Servlet预制参数 -->
    <init-param>
    	<param-name>maxOnline</param-name>
    	<param-value>10000</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServletContextServlet</servlet-name>
    <servlet-class>com.situ.day34.ServletContextServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ContextServlet1</servlet-name>
    <servlet-class>com.situ.day34.ContextServlet1</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ContextServlet2</servlet-name>
    <servlet-class>com.situ.day34.ContextServlet2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.situ.day34.InitServlet</servlet-class>
    <!-- 启动tomcat的时候就加载这个servlet -->
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.situ.day34.MainServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.situ.day34.Servlet1</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.situ.day34.Servlet2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.situ.day34.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>com.situ.day35.CookieServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteCookieServlet</servlet-name>
    <servlet-class>com.situ.day35.DeleteCookieServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetCookieServlet</servlet-name>
    <servlet-class>com.situ.day35.GetCookieServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CookiePath1Servlet</servlet-name>
    <servlet-class>com.situ.day35.CookiePath1Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CookiePath2Servlet</servlet-name>
    <servlet-class>com.situ.day35.CookiePath2Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LastAccessTimeServlet</servlet-name>
    <servlet-class>com.situ.day35.LastAccessTimeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.situ.day35.SessionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Session2Servlet</servlet-name>
    <servlet-class>com.situ.day35.Session2Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.situ.day35.login.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.situ.day35.login.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.situ.day35.login.LogoutServlet</servlet-class>
  </servlet>
















  <!-- 这个Servlet不是为了调用的，而是启动的时候初始化数据 -->
   <!--  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/init</url-pattern>
  </servlet-mapping> -->








  
  <servlet-mapping>
  	<servlet-name>TestServlet</servlet-name>
  	<!-- 网名，需要以/开头 -->
  	<url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LifeServlet</servlet-name>
    <url-pattern>/life</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PathServlet</servlet-name>
    <!-- 1.精确匹配 -->
    <!-- <url-pattern>/path</url-pattern> -->
     <!-- 2.通配符-->
    <!-- <url-pattern>/*</url-pattern> -->
    <!-- 3、后缀：不允许以/开头 -->
    <url-pattern>*.action1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentMainServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThreadServlet</servlet-name>
    <url-pattern>/thread</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginMaxOnlicServlet</servlet-name>
    <url-pattern>/loginMaxOnlic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContextServlet</servlet-name>
    <url-pattern>/servletContext</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContextServlet1</servlet-name>
    <url-pattern>/context1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContextServlet2</servlet-name>
    <url-pattern>/context2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/down</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/cookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCookieServlet</servlet-name>
    <url-pattern>/deleteCookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCookieServlet</servlet-name>
    <url-pattern>/getCookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CookiePath1Servlet</servlet-name>
    <url-pattern>/servlet/cookiePath1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CookiePath2Servlet</servlet-name>
    <url-pattern>/servlet/cookiePath2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LastAccessTimeServlet</servlet-name>
    <url-pattern>/lastAccessTime</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Session2Servlet</servlet-name>
    <url-pattern>/seesion2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
 
 
</web-app>
